<!DOCTYPE html>
{% load static %}
<html lang = 'en'>
    <head>
        <title>##harshtag##</title>
        <meta charset='utf-8'>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <meta http-equiv="X-UA-Compatible" content='IE=edge'>
        <meta http-equiv="x-ua-compatible" content='ie=edge'>
        <meta name='viewport' content='width=device, initial-scale=1, shrink-to-fit=no'>
        <!-- link rel='icon' href='../img/' -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!--link rel='stylesheet' href="{% static 'styles/intro.css' %}" -->
        <script src="{% static 'js/hourglass.js'%}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>
        <!-- jQuery library -->


    </head>

    <body >
        <div class="container text-center">
            
        </div>
        <!--div class = 'jumbotron text-center'-->
            <!--button class = 'btn-lg'>PRO -----</button-->
            <!--button class = 'btn-lg'><del><em>CREATE        </em></del></button-->
            
        <!--/div-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html-->